{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load i18n %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="{% url 'index' %}">{% translate 'Task manager' %}</a>
        <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarToggleExternalContent" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:users' %}">{% translate 'Users' %}</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'statuses:statuses' %}">{% translate 'Statuses' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks:tasks' %}">{% translate 'Tasks' %}</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li  class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">{% translate 'Log out' %}</a>
                </li>
                {% else %}
                <li  class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">{% translate 'Log in' %}</a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link" href="{% url 'users:create' %}">{% translate 'Registration' %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer>
        <div class="container my-5 pt-4 border-top">
            <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
            <br>
            <a target="_blank" href="https://github.com/Trankvill/python-project-52">GitHub</a>
        </div>
    </footer>
</body>
